body {
    background-color: #212121;
    max-width: 1200px;
    margin: 0 auto;

    .divPrincipal {
        color: #fff;

        .titulo-p::after {
            content: '|';
            margin-left: 5px;
            opacity: 1;
            animation: pisca .7s infinite;
        }

        @keyframes pisca {

            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}